h2 {
	font-size: 2em;
	padding-bottom: 3%;
	padding-top: 2%;
}

nav {
	background-color: #C0BDBD;
	color: #000000;
}
.navbar-toggler {
	background-color: #CDCACA
}
.navbar-toggler:hover {
	 background-color: #E1DEDE;
}
.navbar-toggler:active {
	background-color: #EEE9E9;
}
.backtop {
	padding-left: 10px;
}

.navbar-brand {
	font-size: 2.5em;
}

#nav-content .nav-link {
	text-align: center;
	width: 100%;
	font-size: 1.4em;
	background-color: #E4E0E0;
	border-bottom-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-style: none;
}

#categorylist li:hover {
    color: white;
    text-shadow: 1px 1px 1px black, 0 0 1px #8780E6, 0 0 5px blue;
}

#maincontent {
	width: 95%;
	height: auto;
	margin-left: 1%;
	margin-right: 1%;
}

#maincontent .card {
	padding: 15px 15px 15px 15px;
	margin-bottom: 2%;
	background-color: #E5E4E6
}
#maincontent a {
	padding-top: 3px;
	padding-left: 3px;
}
.cardtitle {
	margin-top: .5%;
	text-align: center;
	width: 100%;
	font-size: 1.22em;
	padding-bottom: .8%;
}

@media (min-width: 576px)
{
    #nav-content ul li
    {
         display: none;
    }
}
/* Device Specific layout */


/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float: left;
    width: 50%;
  }
  .col-md-1 {
  	float: left;
  	width: 100%;
  }
}

/************ Small devices *************/
/** default of single row will work    **/