html {
    font-family: 'Raleway', sans-serif;
    font-family: 'Poppins', sans-serif;
}

nav div {
	background-color: #C0BDBD;
	color: #000000;
}

.navbar-header .navbar-brand {
	font-size: 2em;
	color: #000000;
}